aiohttp==3.6.2
Pillow
sr_api
async_cse
async_cleverbot
async-timeout==3.0.1
random_word
jishaku
tabulate
beautifulsoup4==4.8.2
asyncpg
validator_collection
vaporwavely
matplotlib==3.1.3
numpy==1.18.1
PyDictionary==1.5.2
art
zalgoify
humanize
owotext
psutil
sentry-sdk
cryptography
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/Rapptz/discord.py
asyncdagpi==2.3.0
