name: Sentry Version

on:
    push:
        branches:
            - master

jobs:
    sentry:
        name: deploy
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v2
            - name: Create Sentry release
              uses: getsentry/action-release@v1
              env:
                - SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
                - SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
                - SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
              with:
                - environment: production
                - version:  v1.2.0